<form #employeeForm="ngForm" (ngSubmit)="SaveEmployee()">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Employee</h3>
    </div>
    <div class="panel-body">
      <!-- this div with ngModelGroup is to give red color to password fields when they do not match  -->
      <!-- <div ngModelGroup="passwordGroup" [class.has-error]="confirmPassword.touched && confirmPassword.invalid && !confirmPassword.errors?.required" >
        <div class="form-group" [class.has-error]="password.touched && password.invalid">
          <label for="password" class="control-label">Password</label>
         //  Use (input) if the validation needs to be fired when the user types
          <input type="text" id="password" required name="password" [(ngModel)]="employee.password" #password="ngModel"
            class="form-control" (change)="confirmPassword.control.updateValueAndValidity()">
          <span class="help-block" *ngIf=" password.errors?.required && password.touched"> Password is required</span>
        </div>
        <div class="form-group" [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
          <label for="confirmPassword" class="control-label">Password</label>
          <input type="text" id="confirmPassword" required appConfirmEqualValidator="password" name="confirmMassword"
            [(ngModel)]="employee.confirmPassword" #confirmPassword="ngModel" class="form-control">
          <span class="help-block" *ngIf=" confirmPassword.errors?.required && confirmPassword.touched"> Confirm
            Password is required</span>
          <span class="help-block" *ngIf=" confirmPassword.errors?.notEqual && confirmPassword.touched && !confirmPassword.errors?.required">
            Passwords do not match</span>
        </div>
      </div> -->
      <!-- This will use another way of firing confirm password validation on password field change . Use appConfirmEqualValidator on group. So no need to fire validation updateValueAndValidity manually on password  -->
      <div ngModelGroup="passwordGroup" appConfirmEqualValidator #passwordGroup="ngModelGroup" [class.has-error]="passwordGroup.errors?.notEqual && !confirmPassword.errors?.required" >
          <div class="form-group" [class.has-error]="password.touched && password.invalid">
            <label for="password" class="control-label">Password</label>
            <!-- Use (input) if the validation needs to be fired when the user types -->
            <input type="text" id="password" required name="password" [(ngModel)]="employee.password" #password="ngModel"
              class="form-control" >
            <span class="help-block" *ngIf=" password.errors?.required && password.touched"> Password is required</span>
          </div>
          <div class="form-group" [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
            <label for="confirmPassword" class="control-label">Password</label>
            <input type="text" id="confirmPassword" required  name="confirmPassword"
              [(ngModel)]="employee.confirmPassword" #confirmPassword="ngModel" class="form-control">
            <span class="help-block" *ngIf=" confirmPassword.errors?.required && confirmPassword.touched"> Confirm
              Password is required</span>
            <span class="help-block" *ngIf=" passwordGroup.errors?.notEqual && confirmPassword.touched && !confirmPassword.errors?.required">
              Passwords do not match</span>
          </div>
        </div>

      <div class="form-group" [class.has-error]="name.invalid && name.touched" [class.has-success]="name.valid">
        <label for="name" class="control-label"> Name</label>
        <input type="text" id="name" required name="name" [(ngModel)]="employee.name" class="form-control" #name="ngModel">
        <span class="help-block" *ngIf="name.invalid && name.touched"> Name is required</span>
      </div>
      <div class="form-group" [class.has-error]="email.invalid">
        <label for="email" class="control-label">Email</label>
        <input type="text" id="email" [required]="contactPref.value=='email'" [email]="employee.email!=''" name="email"
          [(ngModel)]="employee.email" #email="ngModel" class="form-control">
        <span class="help-block" *ngIf="email.errors?.required"> Email is required</span>
        <span class="help-block" *ngIf=" email.errors?.email && email.touched"> Email is invalid</span>

      </div>
      <div class="form-group" [class.has-error]="emailPattern.invalid && emailPattern.touched">
        <label for="emailPattern" class="control-label">Email Pattern</label>
        <input type="text" id="emailPattern" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" name="emailPattern"
          [(ngModel)]="employee.emailPattern" #emailPattern="ngModel" class="form-control">
        <span class="help-block" *ngIf=" emailPattern.errors?.pattern && emailPattern.touched"> Email is invalid</span>

      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="employee.phoneNumber" class="form-control">
      </div>
      <div class="form-group" [class.has-error]="contactPref.invalid&& contactPref.touched">
        <label class="control-label">Contact Preference</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" value="email" required name="contactPref" [(ngModel)]="employee.contactPreference"
              #contactPref="ngModel"> Email
          </label>
          <label class="radio-inline">
            <input type="radio" value="phone" required name="contactPref" [(ngModel)]="employee.contactPreference"
              #contactPref="ngModel"> Phone
          </label>
        </div>
        <span class="help-block" *ngIf=" contactPref.errors?.required && contactPref.touched"> Contact Preference is
          required</span>

      </div>
      <div class="form-group" [class.has-error]="gender.invalid && gender.touched">
        <label class="control-label">Gender</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" value="female" required name="gender" [(ngModel)]="employee.gender" #gender="ngModel">
            Female
          </label>
          <label class="radio-inline">
            <input type="radio" value="male" required name="gender" [(ngModel)]="employee.gender" #gender="ngModel">
            Male
          </label>
        </div>
        <span class="help-block" *ngIf=" gender.errors?.required && gender.touched"> Gender is required</span>

      </div>

      <div class="form-group">
        <div class="form-control">
          <label class="checkbox-inline">
            <input type="checkbox" name="isActive" [(ngModel)]="employee.isActive"> Is Active
          </label>
        </div>
      </div>
      <div class="form-group" [class.has-error]="department.touched && department.invalid">
        <label for="department" class="control-label">Department
        </label>
        <select id="department" name="department" appSelectValidator="-1" required [(ngModel)]="employee.department"
          #department="ngModel" class="form-control">
          <option disabled [ngValue]="null">Select a department...</option>
          <option value="-1">Please select</option>
          <option *ngFor="let dept of departments" [value]="dept.id">{{dept.name}}</option>
        </select>
        <span class="help-block" *ngIf="department.touched && (department.errors?.required || department.errors?.defaultSelected)">Department
          is required </span>
      </div>


      <div class="row">
        <div class="form-group col-md-5">
          <label for="dob">Date of Birth</label>
          <input type="text" id="dob" bsDatepicker [bsConfig]="datePickerConfig" name="dob" placement="right"
            [(ngModel)]="employee.dateOfBirth" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="photoPath">Photo Path</label>
        <input type="text" id="photoPath" name="photoPath" [(ngModel)]="employee.photoPath" class="form-control">
      </div>
      <div cla="form-group">
        <button class="btn btn-primary" type="button" (click)="ShowPreview()">
          {{previewPhoto? "Hide ": "Show"}} preview
        </button>
      </div>
      <div class="form-group">
        <img [src]="employee.photoPath" *ngIf="previewPhoto" height=200 width=200 />
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">Save</button>
    </div>
  </div>
</form>
Angular Generated Form Model : {{employeeForm.value|json}}
