<div class="form-group">
  <input
    type="text"
    class="form-control"
    placeholder="Search By Name"
    style="width: 300px"
    [(ngModel)]="searchTerm"
  />
</div>
<div class="form-group">
  <button (click)="changeEmployeeName()" class="btn btn-primary">
    Change Employee Name
  </button>
</div>
<!-- Used for testing pipe -->
<!--
  <div *ngFor="let emp of (employees | employeeFilter: searchTerm)"
    (click)="onClick(emp.id)">
    <app-display-employee [emp]="emp"></app-display-employee>
  </div>
-->
<!-- Implementing filter in component -->
<div *ngFor="let emp of filteredEmployees" (click)="onClick(emp.id)">
  <app-display-employee [emp]="emp"></app-display-employee>
</div>
